.reviews-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.reviews-list__title {
  margin: 15px 0 10px;

  font-size: 23px;
  line-height: 31px;
}

.reviews-list__text {
  margin: 0;
}

.reviews-list__img {
  display: block;
}
