.slider-list {
  display: flex;
}

.slider-list__link {
  color: $white;
}

.slider-list__item {
  width: 9.86px;
  height: 10px;
  margin-right: 15.5px;
  background-color: $white;
  opacity: 0.4;
  border-radius: 50%;

  &--active {
    opacity: 1;
  }
}
